---
- name: Disable firewall
  when: disable_firewall | bool
  block:
    - name: Gather package facts
      ansible.builtin.package_facts:
        manager: auto

    - name: Set firewall default policy
      become: true
      community.general.ufw:
        state: disabled
        policy: allow
      when:
        - ansible_facts.os_family == 'Debian'
        - ansible_facts.packages['ufw'] is defined

    - name: Disable firewalld
      become: true
      ansible.builtin.service:
        name: "{{ item }}"
        enabled: false
        state: stopped
      with_items:
        - firewalld
      when:
        - ansible_facts.os_family == 'RedHat'
        - ansible_facts.packages['firewalld'] is defined

- name: Import packages role
  ansible.builtin.import_role:
    name: openstack.kolla.packages

- name: Import container_engine role
  ansible.builtin.import_role:
    name: openstack.kolla.{{ container_engine }}
