[Journal]
Compress={{ journal_compress }}
MaxRetentionSec={{ journal_maxretentionsec }}
Storage={{ journal_storage }}
SystemMaxUse={{ journal_systemmaxuse }}
SystemMaxFileSize={{ journal_systemmaxfilesize }}
