---
- name: Restart docker
  become: true
  ansible.builtin.systemd:
    name: docker
    daemon_reload: true
    state: "{{ 'reloaded' if docker_systemd_reload | bool else 'restarted' }}"
    masked: false

- name: Restart containerd
  become: true
  ansible.builtin.service:
    name: containerd
    state: restarted
