---
# Upgrading podman engine may cause containers to stop. Take a snapshot of the
# running containers prior to a potential upgrade of Podman.
- name: Check which containers are running
  become: true
  ansible.builtin.command:
    cmd: podman ps -f 'status=running' -q
  # If Podman is not installed this command may exit non-zero.
  failed_when: false
  changed_when: false
  register: running_containers

- name: Install packages
  become: true
  ansible.builtin.package:
    name: "{{ podman_packages | select | list }}"
    cache_valid_time: "{{ apt_cache_valid_time if ansible_facts.os_family == 'Debian' else omit }}"
    update_cache: true
    state: present
  register: podman_install_result

# If any packages were updated, and any containers were running, wait for the
# daemon to come up and start all previously running containers.

- name: Start podman.socket
  become: true
  ansible.builtin.service:
    name: podman.socket
    state: started
    enabled: true

- when:
    - podman_install_result.changed
    - running_containers.rc == 0
    - running_containers.stdout != ''
  block:
    - name: Wait for Podman to start
      become: true
      ansible.builtin.command:
        cmd: podman info
      changed_when: false
      register: result
      until: result is success
      retries: 6
      delay: 10

    - name: Ensure containers are running after Podman upgrade
      ansible.builtin.command:
        cmd: "podman start {{ running_containers.stdout }}"
      become: true
      changed_when: true

- ansible.builtin.import_tasks: config.yml
