---
- name: Handling for Python3.10+ externally managed environments
  when: ansible_facts.python.version.major == 3 and ansible_facts.python.version.minor >= 10
  block:
    - name: Get Python
      ansible.builtin.command:
        cmd: "{{ ansible_facts.python.executable }} -c 'import sysconfig; print(sysconfig.get_path(\"stdlib\", sysconfig.get_default_scheme()))'"
      changed_when: false
      register: python_default_scheme_path

    - name: Check if Python environment is externally managed
      ansible.builtin.stat:
        path: "{{ python_default_scheme_path.stdout }}/EXTERNALLY-MANAGED"
      register: python_externally_managed

    - name: Set docker_sdk_python_externally_managed fact
      set_fact:
        docker_sdk_python_externally_managed: true
      when: python_externally_managed.stat.exists

- include_tasks: "{{ package_action }}.yml"
