---
- name: Ensure groups are present
  become: true
  ansible.builtin.group:
    name: "{{ item }}"
    state: present
  loop:
    - docker
    - sudo
    - "{{ kolla_group }}"

- name: Create kolla user
  become: true
  ansible.builtin.user:
    name: "{{ kolla_user }}"
    state: present
    group: "{{ kolla_group }}"
    groups:
      - docker
      - sudo
    append: true

- name: Add public key to kolla user authorized keys
  become: true
  ansible.posix.authorized_key:
    user: "{{ kolla_user }}"
    key: "{{ kolla_ssh_key.public_key }}"

- name: Grant kolla user passwordless sudo
  become: true
  ansible.builtin.lineinfile:
    dest: /etc/sudoers.d/kolla-ansible-users
    state: present
    create: true
    mode: '0640'
    regexp: '^{{ kolla_user }}'
    line: '{{ kolla_user }} ALL=(ALL) NOPASSWD: ALL'
  when: create_kolla_user_sudoers | bool
