{% macro render_toml_value(value) -%}
{%- if value is mapping -%}
# Not directly used here, handled by render_toml_section
{%- elif value is iterable and value is not string -%}
[{{ value | map('tojson') | join(', ') }}]
{%- elif value is boolean -%}
{{ 'true' if value else 'false' }}
{%- elif value is number -%}
{{ value }}
{%- elif value is string -%}
"{{ value | replace('"', '\\"') }}"
{%- else -%}
# Handle nulls/None if necessary, e.g., "" or a comment
{%- endif -%}
{%- endmacro -%}

{% set proxy_config = {} %}
{% if podman_http_proxy | length > 0 or podman_https_proxy | length > 0 or podman_no_proxy | length > 0 %}
  {% set proxy_env = [] %}
  {% if podman_http_proxy | length > 0 %}
    {% set _ = proxy_env.append('http_proxy=' + podman_http_proxy) %}
  {% endif %}
  {% if podman_https_proxy | length > 0 %}
    {% set _ = proxy_env.append('https_proxy=' + podman_https_proxy) %}
  {% endif %}
  {% if podman_no_proxy | length > 0 %}
    {% set _ = proxy_env.append('no_proxy=' + podman_no_proxy) %}
  {% endif %}
  {% set _ = proxy_config.update({'engine': {'env': proxy_env}}) %}
{% endif %}

{% set podman_config = podman_engine_config
   | combine(podman_containers_config, recursive=True)
   | combine(podman_custom_config, recursive=True)
   | combine(proxy_config, recursive=True)
%}
{% for section, settings in podman_config.items() %}
[{{ section }}]
{% for key, value in settings.items() %}
{{ key }} = {{ render_toml_value(value) }}
{% endfor %}{% if not loop.last %}

{% endif %}
{% endfor %}
