---
- name: Ensuring CNI config directory exist
  become: true
  ansible.builtin.file:
    path: "{{ cni_config_dir }}"
    state: "directory"
    mode: "0770"
    owner: "{{ config_owner_user }}"
    group: "{{ config_owner_group }}"

- name: Copying CNI config file
  become: true
  ansible.builtin.template:
    src: "10-zun-cni.conf.j2"
    dest: "{{ cni_config_dir }}/10-zun-cni.conf"
    mode: "0660"
    owner: "{{ config_owner_user }}"
    group: "{{ config_owner_group }}"
  notify:
    - Restart containerd

- name: Ensuring CNI bin directory exist
  become: true
  ansible.builtin.file:
    path: "{{ cni_bin_dir }}"
    state: "directory"
    mode: "0770"
    owner: "{{ config_owner_user }}"
    group: "{{ config_owner_group }}"

- name: Copy zun-cni script
  become: true
  ansible.builtin.template:
    src: "zun-cni.j2"
    dest: "{{ cni_bin_dir }}/zun-cni"
    mode: "0775"

- name: Copying over containerd config
  become: true
  ansible.builtin.template:
    src: "containerd_config.toml.j2"
    dest: "/etc/containerd/config.toml"
    mode: "0660"
  notify:
    - Restart containerd
