---
- name: Check for leftover containers
  become: true
  ansible.builtin.command:
    cmd: docker ps -q
  changed_when: false
  failed_when: false
  register: containers

- name: Check for leftover volumes
  become: true
  ansible.builtin.command:
    cmd: docker volume ls -q
  changed_when: false
  failed_when: false
  register: volumes

- name: Fail if there are any containers
  ansible.builtin.assert:
    that: (containers.stdout_lines | length) == 0
    fail_msg: |-
      There are still some containers left over!
      Remove them before uninstalling container engine!

- name: Fail if there are any volumes
  ansible.builtin.assert:
    that: (volumes.stdout_lines | length) == 0
    fail_msg: |-
      There are still some volumes left over!
      Remove them before uninstalling container engine!

- name: Stop docker service
  become: true
  ansible.builtin.systemd:
    name: docker
    state: stopped
    enabled: false

- name: Uninstall docker packages
  ansible.builtin.package:
    name: "{{ docker_packages | select | list }}"
    autoremove: true
    state: absent
  become: true

- name: Remove docker group
  become: true
  ansible.builtin.group:
    name: docker
    state: absent

- name: Cleanup CNI config directory
  become: true
  ansible.builtin.file:
    path: "{{ cni_config_dir }}"
    state: absent

- block:
    # NOTE(mhiner): cleanup is best effort because sometimes there are still
    # qemu-kvm processes running that prevent the removal
    - name: Cleanup docker files
      become: true
      ansible.builtin.file:
        path: "{{ item }}"
        state: absent
      loop: "{{ docker_paths }}"
  rescue:
    - name: Unable to remove all files
      ansible.builtin.debug:
        var: ansible_failed_result
