---
# Whether to enable a package repository for Docker.
enable_docker_repo: "{% if ansible_facts.distribution == 'openEuler' %}false{% else %}true{% endif %}"

# Docker APT repository configuration.
docker_apt_url: "https://download.docker.com/linux/{{ ansible_facts.distribution | lower }}"
docker_apt_repo: "deb {{ docker_apt_url }} {{ ansible_facts.distribution_release }} stable"
docker_apt_key_file: "gpg"
docker_apt_key_id: "0EBFCD88"
docker_apt_package: "docker-ce"
docker_apt_package_pin: ""

# Docker Yum repository configuration.
docker_yum_url: "https://download.docker.com/linux/centos"
docker_yum_baseurl: "{{ docker_yum_url }}/$releasever/$basearch/stable"
docker_yum_gpgkey: "{{ docker_yum_url }}/gpg"
docker_yum_gpgcheck: true
docker_yum_package: "{% if ansible_facts.distribution == 'openEuler' %}docker{{ '-' + docker_yum_package_pin if (docker_yum_package_pin | length > 0) else '' }}{% else %}docker-ce{{ '-' + docker_yum_package_pin if (docker_yum_package_pin | length > 0) else '' }}{% endif %}"
docker_yum_package_pin: ""

ceph_version: "pacific"
epel_version: "8"
ceph_url: "https://download.ceph.com"

# Ceph APT repository configuration.
ceph_apt_url: "{{ ceph_url }}/debian-{{ ceph_version }}/"
ceph_apt_repo: "deb {{ ceph_apt_url }} {{ ansible_facts.distribution_release }} main"
ceph_apt_key_file: "{{ ceph_url }}/keys/release.gpg"
ceph_apt_key_id: "460F3994"
ceph_apt_package: "ceph-common"

# Ceph Yum repository configuration.
ceph_yum_url: "{{ ceph_url }}/rpm-{{ ceph_version }}/"
ceph_yum_baseurl: "{{ ceph_yum_url }}el{{ epel_version }}/$basearch/"
ceph_yum_gpgkey: "{{ ceph_url }}/keys/release.asc"
ceph_yum_gpgcheck: true
ceph_yum_package: "ceph-common"
epel_yum_package: "epel-release"

customize_etc_hosts: True

create_kolla_user: True

kolla_user: "kolla"
kolla_group: "kolla"

change_selinux: True

selinux_state: "permissive"

# If true, the host firewall service (firewalld or ufw) will be disabled.
disable_firewall: True

docker_storage_driver: ""
docker_custom_option: ""
docker_custom_config: "{% if ansible_facts.distribution == 'openEuler' %}{\"exec-opts\": [\"native.umask=normal\"]}{% else %}{}{% endif %}"

docker_http_proxy: ""
docker_https_proxy: ""
docker_no_proxy: ""

git_http_proxy: ""
git_https_proxy: ""

debian_pkg_install:
 - apparmor
 - "{{ docker_apt_package }}"
 - git
 - iputils-ping
 - "{% if enable_multipathd|bool %}sg3-utils-udev{% endif %}"
 - "{% if not docker_disable_default_iptables_rules | bool %}iptables{% endif %}"
 - tzdata

openeuler_pkg_install:
 - "{{ docker_yum_package }}"
 - python3-docker

redhat_pkg_install:
 - "{{ docker_yum_package }}"
 - git
 - iputils
 - sudo
 - "{% if not docker_disable_default_iptables_rules | bool %}iptables{% endif %}"

ubuntu_pkg_removals:
 - lxd
 - lxc
 - "{% if enable_nova_libvirt_container | bool %}libvirt-bin{% endif %}"
 - open-iscsi

redhat_pkg_removals:
 - "{% if enable_nova_libvirt_container | bool %}libvirt{% endif %}"
 - "{% if enable_nova_libvirt_container | bool %}libvirt-daemon{% endif %}"
 - "{% if enable_nova_libvirt_container | bool %}iscsi-initiator-utils{% endif %}"

# From group_vars/all.yml:
docker_log_max_file: "5"
docker_log_max_size: "50m"

# Docker networking options
docker_disable_default_iptables_rules: "yes"
docker_disable_default_network: "{{ docker_disable_default_iptables_rules }}"
docker_disable_ip_forward: "{{ docker_disable_default_iptables_rules }}"

docker_runtime_directory: ""

node_config_directory: "/etc/kolla"

# Whether the nova_libvirt container is enabled.
enable_nova_libvirt_container: false

# Whether to remove the AppArmor libvirt profile on Ubuntu hosts.
apparmor_remove_libvirt_profile: "{{ enable_nova_libvirt_container | bool }}"
